{extend name="blog@public/basic" /}
{block name="style"}
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/case_list.css" /> 

{/block}
{block name="cotent"}
<div class="content center">
    <h1 class="title">{$details.title}</h1>
    <div class="label">
        <ul>
            <li>{$details.describe}</li>
        </ul>
    </div>
    <section id="case_section" class="case_section">
      {$details.content|default=''|raw}
      <p><br/></p>
    </section>
</div>
{include file="blog@public/footer" /}
{/block}