{extend name="blog@public/basic" /}

{block name="cotent"}

<img src="__PUBLIC__/home/images/about.jpg" alt="" style="margin-top:80px;">
<div class="content center">
    <h1 class="title about-h1">关于得翼</h1>
    <div class="label">
        <ul>
            <li class="about-title">广州得翼--您的品牌产品顾问</li>
        </ul>
    </div>
    <section id="case_section" class="case_section">
        <p>广州得翼网络有限公司是一家以帮助中小企业崛起，打造中国品牌，制造影响力为己任的公司。拥有国内领先的云计算开发，移动互联网研发，网络通讯技术，信息编码技术，携手国内顶尖技术团队和资深品牌推广团队，助力品牌商，从管理系统、营销系统、防伪系统、底层+高端定制开发、品牌营销推广等方面提供全面前沿的技术服务支持，帮助企业品牌做大做强。</p>
        <p>本公司业务已拓展至物联网、智能硬件开发、科技咨询服务等领域，产品和服务面向所有行业，受到各行业客户的广泛好评，市场前景异常广阔。</p>
        <p>现得翼网络以该专业的营销团队+IT技术人才为基础。我们将围绕“厚德”、“诚信”、“利他”、“极致”为服务核心，为客户提供高端技术系统开发，品牌营销推广一体化服务，创造互利共赢的合作平台。得翼网络从企业实际需求出发，实现企业的系统开发与营销推广效果最大化，让互联网成为合作客户拓展业务的实用工具。</p>
        <p>得翼网络还为员工提供宽阔的发展空间以及营造激情活跃的团队氛围，让员工在快乐工作的同时迅速成长和实现自我价值！企业使命：制作影响力，助力中国品牌商全球化发展、企业愿景：成为国内领先的移动互联网技术服务提供商、企业价值观：“厚德”、“诚信”、“利他”、“极致”。</p>
    </section>
    <div class="about">
      <ul>
        <li>
          <div class="about-li">
            <a href="javascript:;"></a>
            <span>150</span><p>员工</p>
          </div>
        </li>
        <li>
            <div class="about-li">
              <a href="javascript:;"></a>
              <span>137</span><p>客户</p>
            </div>
        </li>
        <li>
          <div class="about-li">
            <a href="javascript:;"></a>
            <span>388</span><p>项目</p>
          </div>
        </li>
        <li>
          <div class="about-li">
            <a href="javascript:;"></a>
            <span>4</span><p>周年</p>
          </div>
        </li>  
      </ul>
    </div>
    <h1 class="title about-h1">我们做什么</h1>
    <div class="label">
        <ul>
            <li class="about-title">广州得翼--打造中国新品牌</li>
        </ul>
    </div>
    <div class="about-icon">
      <ul>
        <li>
          <img src="__PUBLIC__/home/images/1.png" alt="">
          <p>SEO优化</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/2.png" alt="">
           <p>控价系统</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/3.png" alt="">
           <p>云仓系统</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/4.png" alt="">
           <p>小程序防伪系统</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/5.png" alt="">
           <p>分销系统</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/6.png" alt="">
           <p>小程序分销商城</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/7.png" alt="">
           <p>产品二维码</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/8.png" alt="">
           <p>APP定制</p>
        </li>  
      </ul>
    </div>

    <div class="about-img">
      <img src="__PUBLIC__/home/images/hezuo.jpg" alt="">
    </div>

</div>




  {include file="blog@public/footer" /}

{/block}